@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politicas de privacidad";
    ViewData["Nombre"] = "Peluqueria Star";
   
}
<h1>@ViewData["Title"]</h1>

<p>usar esta pagina para los detalles de privacidad @ViewData["Nombre"]</p>
